@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-blue: rgb(4, 114, 247);
  --background: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--on-background);
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  color: var(--on-background);
  background-color: var(--background);
  min-height: 100vh;
  transition: all ease-in-out 0.5s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--background-blue);
}

nav h1 a {
  flex: 1;
  color: white;
  text-decoration: none;
}

nav .navigation ul li {
  display: inline-block;
  margin: 0 8px;
  text-decoration: none;
  color: white;
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
}

main h1 {
  color: var(--background-blue);
  font-weight: 600;
}

main button {
  background-color: var(--background-blue);
  padding: 12px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: none;
}

.notes-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px 8px;
}

.notes-list-empty {
  margin-top: 32px;
  padding: 16px 8px;
  color: var(--background-blue);
  font-weight: 600;
}

.notes-list-empty p {
  text-align: center;
  color: black;
}

.note-body {
  position: relative;
  transition: 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
}

.note-item {
  padding: 25px 16px;
  margin: 25px 0;
  border-radius: 8px;
  border: 1px solid var(--background-blue);
  border-top: 5px solid var(--background-blue);
}

.note-item__title {
  margin: 4px 0;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--background-blue);
}

.note-item__createdAt {
  color: var(--background-blue);
  font-size: 14px;
  margin: 4px 0;
  font-weight: 500;
  text-decoration: none;
}

.note-item__body {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  color: black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.note-item__button {
  transform: translate(-50%, 125%);
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--background-blue);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.note-body:hover .note-item__button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.note-item__button:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(34, 29, 29, 0.25);
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
}

.detail-page__title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page__createdAt {
  color: var(--on-background-blue);
}

.detail-page__body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}

.detail-page__action,
.homepage__action,
.add-new-page__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--on-background);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
}

/* Modal pencarian */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transition: 0.3s ease-out;
}

.modal-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.close {
  color: var(--background-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

input[type='text'],
button[type='submit'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

button[type='submit'] {
  background-color: var(--background-blue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal add note */
.add-note-body {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.add-note .add-note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.add-note .add-note-button {
  float: right;
  margin: 30px 0;
  color: var(--background-blue);
}

.add-note-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.add-note-char-limit {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: var(--background-blue);
}

.close-add-note {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-add-note:hover,
.close-add-note:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-note input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.add-note textarea {
  width: 100%;
  height: 20vh;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.add-note button[type='submit'] {
  background-color: var(--background-blue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-note button:hover:active {
  opacity: 0.7;
}

.header-homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -40px;
}

@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page__title {
    font-size: 64px;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
